@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  height: auto;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

::selection {
  background: #15803D; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #15803D; /* Gecko Browsers */
}

a {
  color: inherit;
  text-decoration: none;
}

.example-1 {
  overflow:hidden;
}
li {
  display: list-item;
  list-style-type: circle;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #1E293B;
  }
}
